
input { background:black;color:white; border:1px solid grey; font-size:150%; padding:5px;}
textarea { background:black;color:white;font-size:100%;padding:10px; }

div.box {  padding:15px 13px 15px 13px; cursor:pointer; font-size:150%; }
div.box:hover {  background-color:#333;  }
div.box:focus {  background-color:#333;  }

div.selected {  background-color:#222; }

