
input { background:black;color:white; border:1px solid grey; font-size:150%; padding:5px;}
textarea { background:black;color:white;font-size:100%;padding:10px; }

div.box {  padding:15px 13px 15px 13px; cursor:pointer; font-size:150%; text-shadow: 1px 1px black;}

div.unselected { opacity: 0.1 }

div.selected { }

td:focus { outline-width:0; }

