
input { background:black;color:white; border:1px solid grey; font-size:150%; padding:5px;}
textarea { background:black;color:white;font-size:100%;padding:10px; }

div.box {  padding:15px 13px 15px 13px; cursor:pointer; font-size:150%; text-shadow: 1px 1px black;}

div.unselected { opacity: 0.1 }

div.selected { }

td:focus { outline-width:0; }

div.dialog-backpane { width:100%;height:100%;background:black;opacity:0.60;position:absolute; }
div.dialog-outer  { position:absolute; width:100%; height:100%; top:20%; }
div.dialog-inner  { position:absolute; width:100%; text-align:center; }
div.dialog  { display: inline-block; }

div.button { display:inline-block;padding:5px 10px 5px 10px;border:1px solid gray;cursor:pointer; }
div.button:hover { background-color:#333; }